@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-body-table text-text-primary antialiased;
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.pattern-dots {
    background-image: radial-gradient(circle, #384760 1px, transparent 1px);
    background-size: 24px 24px;
}
